.paginator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paginatorPage {
    margin: 5px;
    cursor: pointer;
}

.paginatorPage:hover {
    font-weight: bold;
}

.paginatorPage.active {
    font-weight: bold;
    border-width: 2px;
}
